controller_manager:
  ros__parameters:
    update_rate: 50

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController

diff_drive_controller:
  ros__parameters:
    left_wheel_names: ["left_wheel_joint"]
    right_wheel_names: ["right_wheel_joint"]

    wheel_separation: 0.155
    wheel_radius: 0.03187

    base_frame_id: base_link
    odom_frame_id: odom
    enable_odom_tf: false

    publish_rate: 50.0
    cmd_vel_timeout: 0.5

    use_stamped_vel: false

    left_wheel_radius_multiplier: 1.1
    right_wheel_radius_multiplier: 1.0 
